:root {
    // primary colors
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --White: white;

    // neutral colors
    --Dark-gray: hsl(0, 0%, 59%);
    --Dark-gray-light: hsl(0, 0%, 89%);
}